[Unit]
Description=Chip weather display

[Service]
#Type=notify
NotifyAccess=all
PIDFile=/var/run/CHIPTFTWeatherApp.pid
#Type=simple
Type=forking
KillSignal=SIGINT
ExecStart=/home/chip/CHIPWeatherDisplay/run
#ExecStart=/bin/sh -c "ulimit -c unlimited; /home/chip/CHIPWeatherDisplay/PiTFTWeather.py -i /home/chip/CHIPWeatherDisplay/ -p /home/chip/flickr/photoframe/ &"
Restart=no
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=CHIPWeatherDisplay
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin:/bin
WorkingDirectory=/home/chip/CHIPWeatherDisplay
#
User=root
Group=root

[Install]
WantedBy=multi-user.target
